@define-color foreground #222222;
@define-color background #FAFAFA;

/* Replace Omarchy logo with "h" */
#custom-omarchy {
  font-size: 0px;
  background-image: url("hylde-waybar-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  min-width: 16px;
}
